SPRING_PROFILES_ACTIVE=mysql
COST_LITE_SERVER_PORT=18080
COST_LITE_DB_HOST=127.0.0.1
COST_LITE_DB_PORT=3306
COST_LITE_DB_NAME=cost_lite
COST_LITE_DB_USERNAME=cost_lite
COST_LITE_DB_PASSWORD=replace_me
COST_LITE_AUTH_ENABLED=false
COST_LITE_ADMIN_TOKEN=
COST_LITE_DICTIONARY_PROVIDER=CONFIG
COST_LITE_DICTIONARY_VALIDATION_ENABLED=true
COST_LITE_DICTIONARY_ALLOW_UNCONFIGURED_TYPES=true
